# Dev environment
pip
autopep8

# App
Django>=5.0,<5.1
polars
python-decouple>=3.8
asgiref==3.7.2
sqlparse==0.4.4
typing_extensions==4.9.0
gunicorn
aiohttp
requests==2.32.3
beautifulsoup4==4.12.3
psycopg[binary]
dj-database-url
whitenoise