<div class="pagination">
    <span class="step-links">
        {% if people_page.has_previous %}
            <a href="#" data-page="1" data-show="{{ people_page.paginator.per_page }}">&laquo; First</a>
            <a href="#" data-page="{{ people_page.previous_page_number }}" data-show="{{ people_page.paginator.per_page }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ people_page.number }} of {{ people_page.paginator.num_pages }}.
        </span>

        {% if people_page.has_next %}
            <a href="#" data-page="{{ people_page.next_page_number }}" data-show="{{ people_page.paginator.per_page }}">Next</a>
            <a href="#" data-page="{{ people_page.paginator.num_pages }}" data-show="{{ people_page.paginator.per_page }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
