{% if people_page %}
    {% for person in people_page %}
        <tr>
            <td>{{ person.codigo }}</td>
            <td>{{ person.apellidos_y_nombres }}</td>
            <td>{{ person.carrera_primera_opcion }}</td>
            <td>{{ person.puntaje }}</td>
            <td>{{ person.merito }}</td>
            <td>{{ person.observacion }}</td>
            <td>{{ person.carrera_segunda_opcion }}</td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="{{ HEADERS|length }}">No data available</td>
    </tr>
{% endif %}
